# Node modules
node_modules/
limittest.py
# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
logs
*.log

# Coverage
coverage/

# Build and cache
dist/
build/
.cache/
.tmp/
.temp/

# OS and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# TypeScript build (if using TS)
*.tsbuildinfo

# MongoDB dump files
dump/

# PM2 logs and pids
.pids
*.pid
*.seed
*.pid.lock